Factors we could build out
- Industry, country
- Style

In [1]:
import pandas as pd
import yfinance as yf
from fredapi import fred

c:\Users\nayrb\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

ModuleNotFoundError: No module named 'fredapi'

In [27]:
df = pd.read_csv("./data/Data.csv", index_col=0, parse_dates=True)
tickers = list(df.columns)

In [28]:
sector_data = []

for ticker in tickers:
    try:
        info = yf.Ticker(ticker).info
        sector = info.get("sector", "Unknown")
        sector_data.append({"Ticker": ticker, "Sector": sector})
    except Exception as e:
        print(f"Error for {ticker}: {e}")
        sector_data.append({"Ticker": ticker, "Sector": "Unknown"})

# Assign sector to each ticker
sector_df = pd.DataFrame(sector_data).set_index("Ticker")

# One-hot encode
sector_ohe = pd.get_dummies(sector_df["Sector"]).astype(int)

In [29]:
sector_ohe

,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,Technology,Utilities
Ticker,,,,,,,,,,,
A,0,0,0,0,0,0,1,0,0,0,0
AAPL,0,0,0,0,0,0,0,0,0,1,0
ABBV,0,0,0,0,0,0,1,0,0,0,0
ABT,0,0,0,0,0,0,1,0,0,0,0
ACGL,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
XYL,0,0,0,0,0,0,0,1,0,0,0
YUM,0,0,1,0,0,0,0,0,0,0,0
ZBH,0,0,0,0,0,0,1,0,0,0,0
ZBRA,0,0,0,0,0,0,0,0,0,1,0
ZTS,0,0,0,0,0,0,1,0,0,0,0

Check for any errors

In [30]:
empty_rows = (df == 0).all(axis=1)
print("Number of all-zero rows:", empty_rows.sum())

Number of all-zero rows: 0

Add country row

In [31]:
sector_ohe.insert(0, "Country", 1)

In [32]:
sector_ohe

,Country,Basic Materials,Communication Services,Consumer Cyclical,Consumer Defensive,Energy,Financial Services,Healthcare,Industrials,Real Estate,Technology,Utilities
Ticker,,,,,,,,,,,,
A,1,0,0,0,0,0,0,1,0,0,0,0
AAPL,1,0,0,0,0,0,0,0,0,0,1,0
ABBV,1,0,0,0,0,0,0,1,0,0,0,0
ABT,1,0,0,0,0,0,0,1,0,0,0,0
ACGL,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,1,0,0,0,0,0,0,0,1,0,0,0
YUM,1,0,0,1,0,0,0,0,0,0,0,0
ZBH,1,0,0,0,0,0,0,1,0,0,0,0
ZBRA,1,0,0,0,0,0,0,0,0,0,1,0
ZTS,1,0,0,0,0,0,0,1,0,0,0,0

In [33]:
sector_ohe.to_csv("./data/industry.csv")

In [34]:
sector_counts = sector_ohe.sum(axis=0)
sector_counts

Country                   470
Basic Materials            18
Communication Services     21
Consumer Cyclical          53
Consumer Defensive         34
Energy                     22
Financial Services         67
Healthcare                 58
Industrials                65
Real Estate                29
Technology                 74
Utilities                  29
dtype: int64